<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.kirth.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>welcome.jsp</servlet-name>
    <jsp-file>/welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome.jsp</servlet-name>
    <url-pattern>/userhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewHolidays.jsp</servlet-name>
    <jsp-file>/ViewHolidays.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHolidays.jsp</servlet-name>
    <url-pattern>/search-holidays</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportToExcelServlet</servlet-name>
    <servlet-class>com.kirth.servlets.ExportToExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportToExcelServlet</servlet-name>
    <url-pattern>/exporttoexcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>welcomemanager.jsp</servlet-name>
    <jsp-file>/welcomemanager.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomemanager.jsp</servlet-name>
    <url-pattern>/managerhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPassword.jsp</servlet-name>
    <jsp-file>/ResetPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword.jsp</servlet-name>
    <url-pattern>/reset-password</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailForm.jsp</servlet-name>
    <jsp-file>/EmailForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailForm.jsp</servlet-name>
    <url-pattern>/send-email</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewRequestsServlet</servlet-name>
    <servlet-class>com.kirth.servlets.ViewRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestsServlet</servlet-name>
    <url-pattern>/view-requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MultipleButtonServlet</servlet-name>
    <servlet-class>com.kirth.servlets.MultipleButtonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultipleButtonServlet</servlet-name>
    <url-pattern>/MultipleButtonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveRejectAllServlet</servlet-name>
    <servlet-class>com.kirth.servlets.ApproveRejectAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRejectAllServlet</servlet-name>
    <url-pattern>/approve-reject-request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.kirth.servlets.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendResetLinkServlet</servlet-name>
    <servlet-class>com.kirth.servlets.SendResetLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendResetLinkServlet</servlet-name>
    <url-pattern>/Send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthenticateRequestServlet</servlet-name>
    <servlet-class>com.kirth.servlets.AuthenticateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateRequestServlet</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>465</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>yourusername@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>yourpassword</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>